<div class="container testing">
  <div class="flex-parent jc-center mb-6 testing">
    <h1><i class="fa-1x fa-solid fa-bookmark"></i> Select your interest</h1></div>
      <div>
        <%= "_" *35 %>
      </div>
</div>

<div class="container">
  <div class="flex-parent jc-center mb-6">
    <div class="container">
      <%= simple_form_for @bookmark do |f| %>
        <div>
        <br>
          <%= f.input :interest,
                            as: :check_boxes,
                            item_wrapper_class: "tag-item",
                            collection:Interest.all.pluck(:name),
                            input_html: { class: "tag-selector" } %>
        </div>
    </div>
      <div class="container">
        <div>
          <body.new p style="color:purple" ><%= "." *1 %></body.new>
          </div>
            <div class="container">
              <i class="fa-2x fa-solid fa-guitar">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
              <i class="fa-2x fa-solid fa-arrows-down-to-people">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
              <i class="fa-2x fa-solid fa-book">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
              <i class="fa-2x fa-solid fa-landmark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
            </div>
      </div>
              <div>
                <body.new p style="color:purple" ><%= "." *1 %></body.new>
              </div>
  </div>
    <div>
        <%= f.button :submit, "Save", class: "ambl-button" %>
      <% end %>
    </div>
</div>
