<div class="container everything-centered py-5">
  <div class="flex-parent jc-center mb-6">
    <h1><i class="fa-1x fa-sharp fa-solid fa-gear"></i> Notification settings</h1>
  </div>
    <div class="bottom-spacing" >
      <%= "_" *40 %>
    </div>

  <div class="container py-5 text-center">
    <div class="container everything-centered">
      <%= simple_form_for(current_user, html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <%= f.input :frequency, collection: User::FREQUENCY, as: :radio_buttons, item_wrapper_class: "tag-item", input_html: { class: "tag-selector" }, label:'How often would you like to be notified:' %>
      <%= f.input :distance, collection: User::DISTANCE, as: :radio_buttons, item_wrapper_class: "tag-item", input_html: { class: "tag-selector" },label:'How far should the location be:' %>
      <%= f.button :submit, "Set interests!", class: "btn btn-light btn-pill rounded-pill mt-5 btn-lg" %>
      <% end %>
    </div>
  </div>
</div>
