
<div class="container index-place">

<div class="my-1"
      data-controller="map"
      id='map'
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-marker-value="<%= @marker.to_json %>"
      style='width: 100%; height: 350px; border: 0.5px solid grey'>
</div>

<div class="row">

  <div class="col-md-4 mb-4" >
    <div class="card" style="padding: 10px; border-radius: 10px; padding-top: 2px;">
       <div class="card-header text-center" >
          <%= content_tag :p, @place.name, style: 'color: black; font-size: 24px;' %>
        </div>
        <ul class="list-group list-group-flush">
          <span class="badge badge-primary">Address</span> <li class="list-group-item" ><%= @place.address %></li>
          <span class="badge badge-primary">Rating</span>
            <li class="list-group-item">
              <% rounded_rating = @place.google_rating ? @place.google_rating.round : 0 %>
              <% rounded_rating.times do %>
                <span class="fa fa-star checked" style="display: inline-block; color: gold;"></span>
              <% end %>
              </li>
          <div style="display: flex; justify-content: center; padding: 20px 0;">
            <%= link_to "Save", toggle_favorite_place_path(@place), data: {"turbo-method": :post}, class: "ambl-button mr-3", size: "small" %>
            <%= link_to "Go", "https://www.google.com/maps/dir/35.6324805,139.7045753/#{@place.lat},#{@place.lng}", target: "_blank", rel: "noopener", class: "ambl-button mr-3", size: "small" %>
            <%= link_to "Skip", root_path, class: "ambl-button mr-3", size: "small" %>
          </div>
      </div>
    </div>
  </div>
</div>

<style>
@media only screen and (max-width: 400px) {
  .card {
    width: 100%;
    margin-bottom: 10px;
  }
}

.container {
  margin-bottom: 120px; /* add some margin to the bottom */
}
</style>
